# Main API
MONGO_URI=mongodb://localhost:27017/eduplatform
JWT_SECRET=change-me-to-a-long-random-string
REDIS_URL=redis://localhost:6379
KAFKA_BROKER=localhost:9092
PORT=3000

# Image Worker (copy to image-worker/.env)
PROCESSED_DIR=../main-api/uploads/processed
WORKER_PORT=3001
